.App {
  text-align: center;
}

.filter Button {
  display: inline-block;
  width: 50%;
  margin: 0px auto;
  height: 3em;
  border-radius: 0;
}

.filter {
  text-align: center;
  position: fixed;
  width:100%;
  top:0px;
}

.food {
  margin-top: 3.5em;
}